<section class="user-section">
  <div class="user-show-name-invite">
    <h2><%= "Name: #{@user.name}" %></h2>
    <% if @friend %>
      <button class="btn btn-info btn-lg">Friend</button>
    <% else %>
      <%= link_to("Add #{@user.name} as a friend", '#', class: 'invite-button') %>
    <% end %>
  </div>
  <article class="timeline">
    <h3>Recent posts:</h3>
    <ul class="posts">
      <%= render @posts %>
    </ul>
  </article>
</section>
