<div class="friendships-main-container">
  <div class="pending-friendships-container">
    <h2>This Is Where Pending Friend Requests Will Go</h2>
  </div>
  <div class="suggested-friendships-container">
    <h2>Suggested Friends</h2>
    <%= render 'layouts/suggested_friends' %>
  </div>
</div>
