@import url("https://fonts.googleapis.com/css?family=Roboto:300,400,500,700,900&display=swap");
@import url(https://fonts.googleapis.com/css?family=Montserrat:100,100italic,200,200italic,300,300italic,regular,italic,500,500italic,600,600italic,700,700italic,800,800italic,900,900italic);

// KEYFRAMES -----------------------------------------------------------//
@-webkit-keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

@keyframes wobble-ver-left {
  0%,
  100% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
  5% {
    -webkit-transform: translateY(-15px) rotate(-6deg);
            transform: translateY(-15px) rotate(-6deg);
  }
  10% {
    -webkit-transform: translateY(7px) rotate(6deg);
            transform: translateY(7px) rotate(6deg);
  }
  20% {
    -webkit-transform: translateY(-5px) rotate(-3.6deg);
            transform: translateY(-5px) rotate(-3.6deg);
  }
  30% {
    -webkit-transform: translateY(5px) rotate(2.4deg);
            transform: translateY(5px) rotate(2.4deg);
  }
  45% {
    -webkit-transform: translateY(-3px) rotate(-1.2deg);
            transform: translateY(-3px) rotate(-1.2deg);
  }
  50% {
    -webkit-transform: translateY(0) rotate(0);
            transform: translateY(0) rotate(0);
    -webkit-transform-origin: 50% 50%;
            transform-origin: 50% 50%;
  }
}


@-webkit-keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}
@keyframes slide-in-top {
  0% {
    -webkit-transform: translateY(-1000px);
            transform: translateY(-1000px);
    opacity: 0;
  }
  100% {
    -webkit-transform: translateY(0);
            transform: translateY(0);
    opacity: 1;
  }
}

// SASS COLORS ---------------------------------------------------------//
$primary-color-dark: #fafbfd;
$primary-color: #8bc34a;
$primary-color-light: #fafbfd;
$primary-color-text: #212121;
$divider-color: #bdbdbd;
$majorelle-color: #0000CC;

// GLOBALS -------------------------------------------------------------//
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  outline: none;
}

body {
  background-color: #000099;
  background-image: image-url('dark-dot');
  position: relative;
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  height: 100vh;
  width: 100%;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-rendering: optimizeLegibility;
  text-shadow: rgba(0,0,0,.01) 0 0 1px;
}

h1,
h2,
h3 {
  font-weight: 700;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: $primary-color-text;
}

// NAVBAR --------------------------------------------------------------//
.nav {
  display: flex;
  position: fixed;
  width: 100%;
  height: 63px;
  top: 0;
  left: 0;
  right: 0;
  justify-content: space-between;
  align-items: center;
  align-content: center;
  padding: 0 48px;
  background-color: $majorelle-color;
  background-image: image-url('dark-dot');
  color: $primary-color-light;
  z-index: 2;
  -webkit-box-shadow: 0px 5px 12px -1px rgba(2,2,89,1);
  -moz-box-shadow: 0px 5px 12px -1px rgba(2,2,89,1);
  box-shadow: 0px 5px 12px -1px rgba(2,2,89,1);
  border-bottom: 2px solid #000099;

  .nav-logo {
    display: flex;
    justify-content: start;
    align-items: center;
    align-content: center;
    flex-flow: row nowrap;
    height: 100%;
    padding: 5px 16px;
    transition-duration: 0.15s;
    text-transform: uppercase;
    font-size: 22px;
    font-weight: 700;
    letter-spacing: 0.01em;
    img {
      margin-right: 10px;
      height: 35px;
      width: auto;
    }
    &:hover {
      background-color: #101010;
      transition-duration: 0.2s;
      text-shadow: 2px 3px 0px #2020D2;
      -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
      box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
    }
  }

  a {
    padding: 16px 0;
    text-shadow: 2px 3px 0px #000000;
  }

  .nav-profile {
    height: 100%;
    position: relative;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: start;
    padding: 0 16px;
    transition-duration: 0.15s;
    &:hover {
      background-color: #101010;
      transition-duration: 0.2s;
      -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
      -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
      box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
      .gravatar {
        border-right: 1px solid #2020D2;
        border-bottom: 2px solid #2020D2;
      }
      a {
        text-shadow: 2px 3px 0px #2020D2;
      }
    }
  }
  .gravatar {
    position: relative;
    height: 35px;
    width: auto;
    border-radius: 25% 10%;
    margin-right: 10px;
    border-right: 1px solid #101010;
    border-bottom: 2px solid #101010;
  }

  .menu {
    width: 48%;
    height: 100%;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    margin-right: auto;

    .menu-item-top {
      display: flex;
      align-content: center;
      align-items: center;
      padding: 0 16px;
      height: 100%;
      transition-duration: 0.15s;
      &:last-child {
        margin-right: auto;
      }
      &:hover {
        background-color: #101010;
        transition-duration: 0.2s;
        -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
        -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
        box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
        a {
          text-shadow: 2px 3px 0px #2020D2;
        }
      }
      .menu-item {
        text-align: center;
        margin-left: 4px;
      }
    }
  }
}

.sign-in-out {
  display: flex;
  align-items: center;
  height: 100%;
  text-align: center;
  padding: 0 16px;
  transition-duration: 0.15s;
  &:hover {
    background-color: #101010;
    transition-duration: 0.2s;
    -webkit-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
    box-shadow: 0px 0px 15px -1px rgba(0,0,0,1);
    a {
      text-shadow: 2px 3px 0px #2020D2;
    }
  }
}

.nav a {
  color: $primary-color-light;
  font: 600 18px/18px 'Montserrat', sans-serif;
}

// Friend Requests Dropdown //
.dropbutton {
  display: flex;
  align-items: center;
  position: relative;
  width: auto;
  height: 100%;
  background-color: transparent;
  border: none;
  z-index: 2;
  transition-duration: 0.15s;
}

.fq-note {
  display: block;
  position: absolute;
  top: 18px;
  right: 12px;
  background-color: #CC0000;
  opacity: 0.8;
  height: 14px;
  width: 14px;
  border-radius: 50%;
  z-index: 1;
  animation: wobble-ver-left 1.5s 3 both;
}

.dropdown {
  height: 100%;
  position: relative;
  display: inline-block;
  &:hover .dropdown-content {
    display: block;
  }
  &:hover .dropbutton {
    color: #fff;
  }
  a {
    padding: 0 16px;
    text-align: center;
  }
  &:hover .dropbutton {
    background-color: #101010;
    transition-duration: 0.2s;
    text-shadow: 2px 3px 0px #2020D2;
    -webkit-box-shadow: 0px -8px 6px -1px rgba(0,0,0,1);
    -moz-box-shadow: 0px -8px 6px -1px rgba(0,0,0,1);
    box-shadow: 0px -8px 6px -1px rgba(0,0,0,1);
  }
}

.dropdown-content {
  display: none;
  position: absolute;
  top: 60px;
  background-color: #000099;
  background-image: image-url('dark-dot');
  min-width: 400px;
  height: auto;
  max-height: 500px;
  box-shadow: 0 8px 16px 0 rgba(0, 0, 0, 0.2);
  z-index: 1;
  border-top: none;
  border-bottom-left-radius: 2px;
  border-bottom-right-radius: 2px;
  border: 2px solid #000080;
  border-top: none;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  a,
  p {
    color: #fafbfd;
    font-weight: 600;
    text-shadow: 2px 2px 0px #2020D2;
    padding: 16px 20px;
    text-decoration: none;
    display: block;
  }
  ul {
    height: 350px;
    overflow: hidden;
    overflow-y: scroll;
  }
  li {
    width: 100%;
  }
  .gravatar {
    border-radius: 25% 10%;
    height: 50px;
    width: auto;
    margin-left: 10px;
    border-radius: 1px solid #A1C383;
  }
}

.requests-exist {
  display: flex;
  flex-flow: column nowrap;
  justify-content: start;
  align-items: center;
  align-content: center;
  height: auto;
  width: 100%;
  border-bottom: 2px solid #0000CC;
  -webkit-box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  -moz-box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  box-shadow: 0px 3px 6px -1px rgba(0,0,0,1);
  ul {
    width: 100%;
    &:first-child {
      height: auto;
      background-color: #202020;
      h3 {
        width: 100%;
        font: 600 22px/22px 'Roboto';
        text-align: center;
        color: #fafbfd;
        padding: 14px 16px;
        border-bottom: 2px solid #fafbfd;
        background-color: #101010;
        color: #fafbfd;
        font-weight: 600;
        text-shadow: 2px 2px 0px #2020D2;
      }
      form {
        width: auto;
      }
      .nav-ad-buttons {
        display: flex;
        flex-flow: row nowrap;
        justify-content: start;
      }
      .add-friend-button {
        width: 90px !important;
      }
      .accept-button {
        background-color: #8bc34a !important;
        border: 2px solid #689f38 !important;
        margin-right: 15px;
        &:hover {
          background-color: #689f38 !important;
          border: 2px solid #8bc34a !important;
        }
      }
      .decline-button {
        background-color: #CD6155 !important;
        border: 2px solid #C0392B !important;
        &:hover {
          background-color: #C0392B !important;
          border: 2px solid #CD6155 !important;
        }
      }
    }
    &:last-child {
      height: 200px;
    }
  }
}

.no-requests {
  height: 60px;
  font-size: 20px;
  padding: 10px 0px;
  text-align: center;
  background-color: #101010;
  border-bottom: 2px solid #0000CC;
  -webkit-box-shadow: 0px 1px 6px -1px #000039;
  -moz-box-shadow: 0px 1px 6px -1px #000039;
  box-shadow: 0px 1px 6px -1px #000039;
}

.nav-non-friends-container {
  display: flex;
  flex-flow: row nowrap;
  justify-content: start;
  align-content: center;
  align-items: center;
  width: 100%;
  height: 51px;
  padding: 40px 0 40px 5px;
  border-bottom: 5px solid #000080;
  a:first-child {
    width: 45%;
  }
  .name {
    position: relative;
    right: 10px;
  }
  .user-nav-buttons {
    width: auto;
    margin: 0 15px 0 auto;
    font: 400 14px/14px 'Roboto';
    a,
    input[type="submit"] {
      width: 150px;
      font: 600 16px/16px 'Roboto';
      text-transform: initial;
      color: #fafbfd;
      text-shadow: #000 0px 0px 2px;
      -webkit-font-smoothing: antialiased;
      padding: 12px 14px;
      border-radius: 4px;
    }
    .add-friend-button {
      background-color: #51A8AB;
      border: 2px solid #31898B;
      &:hover {
        background-color: #389C9F;
        border-color: #51A8AB;;
      }
    }
    .edit-profile-button {
      border: 2px solid #8bc34a;
      border-radius: 4px;
      padding: 12px 14px;
      background-color: #A1C383;
      font: 400 16px/16px 'Roboto';
      a {
        width: 150px;
      }
    }
    .pending-request-button {
      display: block;
      width: 150px;
      word-wrap: none;
      white-space: nowrap;
      background-color: #ABB2B9;
    }
    .confirmed-friend-button {
      display: block;
      text-align: center;
      background-color: #7DCEA0;
      font: 600 16px/16px 'Roboto';
      padding: 14px 16px;
      width: 150px !important;
    }
  }
  .gravatar {
    position: initial;
  }
}

// MAIN CONTAINER ----------------------------------------------------//
.main-flex {
  display: flex;
  flex-flow: row nowrap;
  justify-content: center;
  align-items: center;
  align-content: center;
  width: 100%;
  height: 100%;
}

.main {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 94%;
  height: 90%;
  background-color: #fafbfd;
  -webkit-box-shadow: 0px 0px 25px 3px #000039;
  -moz-box-shadow: 0px 0px 25px 3px #000039;
  box-shadow: 0px 0px 25px 3px #000039;
  padding: 20px 30px;
  border-bottom-right-radius: 4px;
  border-bottom-left-radius: 4px;
  border: 1px solid #101010;
  border-top: none;
  margin-top: 27px;
  overflow: hidden;
  overflow-y: auto;
  animation: slide-in-top 0.3s cubic-bezier(0.860, 0.000, 0.070, 1.000) both;
  border-left: 2px solid #000060;
  border-right: 2px solid #000060;
}

.main-signin {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
  height: 90%;
  background-color: transparent;
  padding: 20px 30px;
  margin-top: 27px;
}

// FLASH MESSAGES ----------------------------------------------------//
.notice,
.alert {
  position: fixed;
  top: 6px;
  left: 50%;
  transform: translateX(-50%);
  font: 600 18px/18px 'Montserrat', sans-serif;
  color: #303030;
  width: auto;
  padding: 14px 16px;
	-webkit-animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  animation: fade-in 0.4s cubic-bezier(0.390, 0.575, 0.565, 1.000) both;
  z-index: 100;
  -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,79,1);
  -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,79,1);
  box-shadow: 0px 0px 16px 0px rgba(0,0,79,1);
}

.notice {
  background: linear-gradient(0deg, #DAF7A6 0%, #DFF8B1 63%, #E3F9BC 100%);
  border: 1px solid #DAF7A6;
  border-radius: 4px;
  text-shadow: 2px 2px 2px #A4B97D;
}

.alert {
  background: linear-gradient(0deg, #C70039 0%, #CE2052 55%, #D5406B 100%);
  border: 1px solid #C70039;
  color: #fafbfd;
  border-radius: 4px;
  text-shadow: 2px 2px 2px #800000;
}

.errors {
  font-size: 10px;
  color: red;
}

// FORMS -------------------------------------------------------------//
form {
  width: 80%;
  margin: 8px 0;

  .field {
    width: 100%;
    padding: 8px 0px;
    label {
      margin-bottom: 8px;
    }

    input {
      width: 100%;
      border: 1px solid $divider-color;
      border-radius: 4px;
      padding: 8px;
      background-color: $primary-color-light;
    }

    input[type="checkbox"] {
      width: fit-content;
    }
  }

  .actions {
    display: flex;
    justify-content: center;
    margin: 8px 0;
  }
  input[type="submit"] {
    padding: 8px;
    width: 50%;
    border: none;
    border-radius: 4px;
    background-color: $primary-color-dark;
    color: $primary-color-light;
    text-transform: uppercase;
    font-weight: 900;
  }

  input[type="submit"]:hover {
    background-color: $primary-color;
    color: #fff;
  }

  .actions.reset {
    input[type="submit"] {
      width: 100%;
    }
  }

  #error_explanation {
    h2 {
      color: $primary-color-text;
      font-size: 1em;
    }
    ul {
      color: #f00;
    }
  }
}

.title {
  text-align: center;
  margin-bottom: 16px;
  text-transform: capitalize;
}

.new_post,
.new_comment{
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;

  label {
    display: none;
  }

  .form-control {
    width: 100%;
    border: 1px solid $divider-color;
    height: 64px;
    padding: 8px;
    margin: 4px 0;
    border-radius: 4px;
  }

  .field_with_errors {
    width: 100%;

    .form-control {
      border: 1px solid #f00;
    }
  }

  .btn-primary {
    width: 100%;
  }

  .btn-secondary {
    width: 30%;
    margin-left: 70%;
  }
}

// SIGNIN CONTAINER -------------------------------------------------//
.signin-container {
  position: relative;
  top: 50%;
  transform: translateY(-50%);
  height: 60%;
  width: 40%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  align-content: center;
  flex-flow: column nowrap;
  background-color: #2020D2;
  color: #fafbfd;
  border-radius: 20% 20% 1% 20%;
  padding: 20px 10px;
  border: 2px solid #1F00CC;
  background-image: image-url('dark-dot');
  -webkit-box-shadow: inset 0px 0px 21px -3px rgba(150,96,223,1);
  -moz-box-shadow: inset 0px 0px 21px -3px rgba(150,96,223,1);
  box-shadow: inset 0px 0px 21px -3px rgba(150,96,223,1);

  h2 {
    font: 700 36px/36px 'Montserrat', sans-serif;
    color: #fafbfd;
    text-transform: uppercase;
  }

  a {
    color: #fafbfd;
  }

  .signin-form {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 90%;
    height: auto;
  }

  form {
    width: 80%;
    .field {
      margin-bottom: 10px;
      .signin-labels {
        font: 500 18px/32px 'Roboto';
      }
    }

    .remember-field {
      display: flex;
      justify-content: space-evenly;
      align-items: baseline;
      label {
        margin-right: auto;
        margin-left: 10px;
      }
      input[type="checkbox"] {
        margin-left: auto;
      }
    }
    .actions {
      height: 40px;
      input[type="submit"] {
        color: #0000CC;
        font: 700 16px/16px 'Montserrat', sans-serif;
        text-transform: initial;
        transition-duration: 0.3s;
        &:hover {
          background-color: #000080;
          color: #fafbfd;
          transition-duration: 0.2s;
          -webkit-box-shadow: 0px 0px 35px 2px rgba(124,88,173,1);
          -moz-box-shadow: 0px 0px 35px 2px rgba(124,88,173,1);
          box-shadow: 0px 0px 35px 2px rgba(124,88,173,1);
        }
      }
    }
  }

  .signin-links {
    display: flex;
    justify-content: center;
    flex-flow: column nowrap;
    text-align: center;
    a {
      font: 700 18px/18px 'Roboto', sans-serif;
      transition-duration: 0.2s;
      &:hover {
        text-decoration: underline;
        color: #BFBFF2;
        transition-duration: 0.2s;
      }
    }
  }
}

.signup-container {
  height: 70%;
}

.forgot-password {
  height: auto;
  border-radius: 25% 25% 10% 25%;
  h2 {
    line-height: 1.2;
    padding: 0 16px;
    text-align: center;
  }
}

// TIMELINE ---------------------------------------------------------//
.timeline-container {
  display: flex;
  justify-content: center;
  height: auto;
  width: 90%;
  background-color: #F2F3F4;
  background-image: image-url('cream-pixels');
  border-radius: 12px;
  padding: 20px;
  border: 1px solid #F0F3F4;
  -webkit-box-shadow: inset 0px 0px 24px 4px #D5D8DC;
  -moz-box-shadow: inset 0px 0px 24px 4px #D5D8DC;
  box-shadow: inset 0px 0px 24px 4px #D5D8DC;
}
.timeline {
  width: 100%;
  margin: 16px 0;
  display: flex;
  flex-direction: column;
  align-items: center;

  h3 {
    font: 700 48px/48px 'Montserrat', sans-serif;
    letter-spacing: 1.5px;
    text-shadow: #000 4px 4px 0px;
    color: #fafbfd;
    margin: 8px 0;
    background-color: #0000CC;
    background-image: image-url('dark-dot');
    padding: 16px 20px;
    border-radius: 20px 20px 4px 20px;
    -webkit-box-shadow: inset 0px -1px 6px -1px #000;
    -moz-box-shadow: inset 0px -1px 6px -1px #000;
    box-shadow: inset 0px -1px 6px -1px #000;
  }

  .post-container {
    width: 100%;
    height: auto;
    display: flex;
    justify-content: center;
  }

  .posts {
    width: 100%;
  }

  .post {
    width: 100%;
    margin: 16px 0;
    display: flex;
    flex-direction: column;
    border-radius: 40px 40px 0 40px;
    background-color: #D6DBDF;
    border: 1px solid #BDC3C7;
    background-image: image-url('cream-pixels');
    padding: 40px;
  }

  .post-content-container {
    width: 100%;
    padding: 20px;
    background-color: rgba(0, 0, 0, 0.08);
    border-radius: 10px;
    margin-bottom: 20px;

    .post-content {
      font: 400 20px/28px 'Montserrat', sans-serif;
      padding: 4px 0;
    }
  }

  .post-info-container {
    display: flex;
    align-items: center;
    border-radius: 20px;
    padding: 5px 20px 5px 90px;
    background-color: rgba(0, 0, 0, 0.08);
    border: 1px solid #BDC3C7;
  }

  .post-attribution {
    float: left;
    width: auto;
    display: flex;
    align-items: center;
    position: relative;

    .post-author {
      margin-left: 10px;
      margin-right: 10px;
      color: #fafbfd;
      background-color: #0000CC;
      border-radius: 4px;
      padding: 4px 8px;
      text-transform: capitalize;
      font: 500 20px/20px 'Roboto', sans-serif;
      transition-duration: 0.2s;
      &:hover {
        color: #66CCFF;
        transition-duration: 0.2s;
      }
    }

    .self-author {
      background-color: #101010;
      color: #fafbfd;
      transition-duration: 0.2s;
      &:hover {
        color: #CC00CC;
        transition-duration: 0.2s;
      }
    }

    img {
      position: absolute;
      left: -70px;
      height: 60px;
      width: 60px;
      border-radius: 50%;
      border: 2px solid #F2F3F4;
      box-shadow: 0 0 10px 0 #808080;
      margin-right: 10px;
    }
  }

  .post-date {
    font-size: 12px;
    margin-top: 5px;
  }

  .post-liking {
    margin-left: auto;

    a {
      display: flex;
      align-items: center;
      font: 500 16px/16px 'Roboto', sans-serif;
      margin: 0 4px;
      background-color: rgba(2, 2, 89, 0.2);
      background-image: inherit;
      border: 2px solid #BFC9CA;
      box-shadow: inset 0 0 6px -1px #CACFD2;
      padding: 6px 10px;
      border-radius: 10px;
    }

    .like,
    .dislike {
      height: 30px;
      margin-left: 10px;
    }

    .like-link {
      color: #C70039;
      transition-duration: 0.2s;
    }

    .like {
      margin-bottom: 10px;
      color: #C70039;
    }

    .dislike-link {
      color: #C0392B;
      transition-duration: 0.3s;
    }

    .dislike {
      margin-top: 5px; 
    }

    .like-link,
    .dislike-link {
      &:hover {
        color: #1F00CC;
        transition-duration: 0.3s;
      }
    }
  }

  .post-comments-section {
    margin: 20px auto;
    width: 90%;

    .post-comments {
      position: relative;
      display: flex;
      border-bottom: 1px solid $divider-color;
      border-radius: 3px;
      margin-bottom: 2px;
      padding: 10px;

      p {
        font-size: .8em;
        width: 90%;
      }
      span {
        position: absolute;
        right: 3px;
        font-size: 0.6em;
      }
    }
  }
}

// USERS SECTION ------------------------------------------------------------//
.users-section {
  width: 100%;
  margin: 10px;

  .users-list li {
    margin-bottom: 16px;
    text-transform: capitalize;
    font-size: 1.2em;
    border: 2px solid #BFBFF2;
    background-color: #DFDFF9;
    background-image: image-url('corrugation');
    border-radius: 10px;
    padding: 40px 30px;
    height: 150px;
    .users-list-card {
      display: flex;
      justify-content: start;
      align-items: center;
      align-content: center;
      flex-flow: row nowrap;
      height: 60px;
      div:first-child {
        .gravatar {
          height: 100px;
          width: auto;
          border-radius: 15% 5%;
        }
        h4 {
          display: inline-block;
          position: relative;
          bottom: 30px;
          margin-left: 20px;
          font: 300 20px/20px 'Roboto', sans-serif;
        }
      }
      .profile-link {
        font: 400 16px/16px 'Roboto', sans-serif;
        color: $primary-color-dark;
        margin-right: 10px;
        margin-left: auto;
        a {
          border: 2px solid #8bc34a;
          border-radius: 4px;
          padding: 12px 14px;
          background-color: #A1C383;
          color: #fafbfd;
          text-shadow: #000 0px 0px 2px;
          -webkit-font-smoothing: antialiased;
          font: 600 16px/16px 'Roboto'
        }
      }
      .user-index-buttons {
        width: 150px;
        font: 400 16px/16px 'Roboto';
        a,
        input[type="submit"] {
          width: 150px;
          font: 600 16px/16px 'Roboto';
          text-transform: initial;
          color: #fafbfd;
          text-shadow: #000 0px 0px 2px;
          -webkit-font-smoothing: antialiased;
          padding: 12px 14px;
          border-radius: 4px;
        }
        .add-friend-button {
          background-color: #51A8AB;
          border: 2px solid #31898B;
          &:hover {
            background-color: #389C9F;
            border-color: #51A8AB;;
          }
        }
        .edit-profile-button {
          width: 150px;
          display: block;
          text-align: center;
          border: 2px solid #8bc34a;
          border-radius: 4px;
          padding: 12px 14px;
          background-color: #A1C383;
          font: 600 16px/16px 'Roboto'
        }
        .pending-request-button {
          display: block;
          width: 150px;
          word-wrap: none;
          white-space: nowrap;
          background-color: #ABB2B9;
        }
        .confirmed-friend-button {
          display: block;
          text-align: center;
          background-color: #7DCEA0;
          font: 600 16px/16px 'Roboto';
          padding: 14px 16px;
          width: 150px !important;
        }
      }
    }
  }
}

.user-section {
  width: 100%;
  margin-left: 16px;

  h2 {
    text-transform: capitalize;
  }

  .user-show-name-invite {
    display: flex;
    flex-flow: column nowrap;
    justify-content: start;
    align-items: center;
    align-content: center;

    .user-name-btns {
      display: flex;
      flex-flow: row nowrap;
      align-items: center;
      width: 100%;
      height: auto;
      background-color: #dcedc8;
      border-radius: 4px;
      padding: 16px 20px;
      margin-top: 10px;
    }

    h2 {
      margin-right: auto;
    }
    
    .user-friend-buttons {
      width: auto;
      margin-left: auto;
      input[type="submit"] {
        width: 150px;
        padding: 12px 16px;
        font: 600 18px/18px 'Roboto';
        color: #fafbfd;
        text-shadow: #000 0px 0px 2px;
        -webkit-font-smoothing: antialiased;
      }
      .pending-request-button {
        background-color: #bdbdbd;
        font: 600 16px/16px 'Roboto';
        padding: 12px 16px;
        border-radius: 4px;
        border: 1px solid #ABB2B9;
        color: #fafbfd;
        text-shadow: #000 0px 0px 2px;
        -webkit-font-smoothing: antialiased;
      }
      .confirmed-friend-button {
        background-color: #51A8AB;
        border: 2px solid #31898B;
        padding: 12px 16px;
        font: 600 16px/16px 'Roboto';
        border-radius: 4px; 
        color: #fafbfd;
        text-shadow: #000 0px 0px 2px;
        -webkit-font-smoothing: antialiased;
      }
      .add-friend-button {
        text-transform: initial;
      }
    }

    .gravatar {
      height: 203px;
      width: auto;
      border-radius: 5%;
      border: 3px solid #dcedc8;
    }
  }

  .user-show-ad-btns {
    display: flex;
    flex-flow: row nowrap;
    width: auto;
    form {
      width: auto;
      input {
        width: 150px;
        margin-right: 10px;
      }
    }
    .accept-button {
      background-color: #A1C383;
      border: 2px solid #689f38;
      &:hover {
        background-color: #8bc34a;
        border-color: #8bc34a;
      }
    }
    .decline-button {
      background-color: #CD6155;
      border: 2px solid #C0392B;
      &:hover {
        background-color: #C0392B;
        border: 2px solid #CD6155;
      }
    }
  }

  .timeline {
    width: 100%;
    h3 {
      width: 100%;
    }
    justify-content: start;
  }
}

// FRIENDSHIPS PAGE -----------------------------------------------------------//
.friendships-main-container {
  width: 100%;
  height: 100%;
}

.pending-friendships-container,
.suggested-friendships-container {
  width: 80%;
  height: auto;
  margin: 0 auto;
  padding: 20px;
  background-color: #dcedc8;
  border: 1px solid #8bc34a;
  .gravatar {
    height: 80px;
    width: auto;
    margin-right: 20px;
    margin-left: 20px;
    border-radius: 15% 5%;
  }
  h2 {
    padding: 14px 16px;
    font: 700 20px/20px 'Roboto';
  }
  h4 {
    padding: 14px 16px;
    font: 400 16px/16px 'Roboto';
  }
  .user-friendships-ad-buttons {
    width: auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-between;
    align-content: center;
    align-items: center;
    form {
      width: auto;
      padding: 5px 10px;
      &:last-child {
        padding-right: 0;
      }
    }
    .accept-button {
      background-color: #8bc34a;
      border: 2px solid #689f38;
      &:hover {
        background-color: #689f38;
        border: 2px solid #8bc34a;
      }
    }

    .decline-button {
      background-color: #CD6155;
      border: 2px solid #C0392B;
      &:hover {
        background-color: #C0392B;
        border: 2px solid #CD6155;
      }
    }
  }
}

.pending-friendships-container {
  background-color: #dcedc8;
  border: 1px solid #8bc34a;
  margin-bottom: 20px;
}

.suggested-friendships-container,
.pending-friendships-container {
  .nav-non-friends-container {
    height: 110px;
    padding: 10px;
    .name {
      font: 500 24px/24px 'Roboto';
    }
  }
}

// FOOTER ---------------------------------------------------------------------//
footer {
  height: 50px;
  position: fixed;
  bottom: 0px;
  left: 0px;
  right: 0px;
  background-color: $majorelle-color;
  background-image: image-url('dark-dot');
  color: $primary-color-light;
  z-index: 2;
  -webkit-box-shadow: 0px -4px 5px -1px rgba(2,2,89,1);
  -moz-box-shadow: 0px -4px 5px -1px rgba(2,2,89,1);
  box-shadow: 0px -4px 5px -1px rgba(2,2,89,1);
  border-top: 2px solid #000099;
}

// MEDIA QUERIES --------------------------------------------------------------//
@media only screen and (min-width: 480px) {
  form {
    width: 60%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}

@media (min-width: 780px) {
  form {
    width: 40%;
  }

  .new_post,
  .timeline,
  .users-section,
  .user-section {
    width: 70%;
  }
}
