<ul>
  <% @non_friends.each do |u| %>
    <li>
      <div class="nav-non-friends-container">
        <%= gravatar_for(u) %>
        <%= link_to "#{u.name}", user_path(u), class: 'name' %>
        <%= link_to "Add As Friend", '#', class: 'accept-decline nf-accept' %>
      </div>
    </li>
  <% end %>
</ul>